//----------------------
//IMPORTS

@import 'variables';

//----------------------
//DEFAULT

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $open-sans;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $tinos;
    font-weight: bold;
}

h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}

h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
}

h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
}

h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
}

h5 {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
}

h6 {
    font-size: $h6-font-size;
    line-height: $h6-line-height;
}

a {
    color: $black;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}
